Ementa Bootcamp Engenheiro de Dados-1 (1).pdf
Bootcamp XPE - Plano Pedagógico do Curso.pdf
.vscode

## modulo 1
venv_bootcamp_engdados/modulo1/Slides_Modulo1_EDD.pdf
./venv_bootcamp_engdados/modulo1/Apostila - Módulo 1 - Bootcamp Engenheiro(a) de Dados-2.pdf

# ##modulo 2
# ./venv_bootcamp_engdados/modulo2/Apostila – Módulo 2 – EDD.pdf
# ./venv_bootcamp_engdados/modulo2/Slides - Módulo 2 - EDD.pptx.pdf