Ementa Bootcamp Engenheiro de Dados-1 (1).pdf
Bootcamp XPE - Plano Pedagógico do Curso.pdf
.vscode

## modulo 1
venv_bootcamp_engdados/modulo1/Slides_Modulo1_EDD.pdf
venv_bootcamp_engdados/modulo1/Apostila - Módulo 1 - Bootcamp Engenheiro(a) de Dados-2.pdf

## modulo 2
venv_bootcamp_engdados/modulo2/Apostila – Módulo 2 – EDD.pdf
venv_bootcamp_engdados/modulo2/Slides - Módulo 2 - EDD.pptx.pdf

## modulo 3
venv_bootcamp_engdados/modulo3/Apostila - Módulo 3 - Bootcamp Engenheiro(a) de Dados.pdf
venv_bootcamp_engdados/modulo3/Aulas do Módulo 03.pdf

## modulo 4
venv_bootcamp_engdados/modulo4/Enunciado do Trabalho Prático - Módulo 4 - Bootcamp Engenheiro(a) de Dados.pdf.pdf
venv_bootcamp_engdados/modulo4/Apostila – Módulo 4 – Bootcamp Engenheiro(a) de Dados.pdf.pdf
venv_bootcamp_engdados/modulo4/Material das videoaulas do Módulo 4 - Bootcamp Engenheiro de Dados.pdf
venv_bootcamp_engdados/modulo4/enem_data
venv_bootcamp_engdados/modulo4/dados_enem_2020_partes
venv_bootcamp_engdados/modulo4/filtered_df_enem2020_mg.csv